$colour-black: #000;
$colour-white: #fff;
$colour-grey: #333;

$colour-turquoise: #14BECC;
$colour-lime: #00FF83;
$colour-peach: #FF7985;
$colour-pink: #CC1481;

$bg-one: $colour-turquoise;
$bg-two: $colour-lime;
$bg-three: $colour-peach;
$bg-four: $colour-pink;