$vertical-rhythm: 20px;
$padding-small-screens: 15px;
$padding-large-screens: 25px;

/**
*
* Page width constrain. Set the max and minimum width and use `@extend %constrain` to constrain the width.
*
**/

$layout-max-width: 1024px;

%constrain {
    max-width: $layout-max-width;
    margin: 0 auto;
}

body {
    @include font-size(16);
    font-family: $font-primary;
    color: #333;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/**
*
* Vertical rhythm
*
**/

%vertical-rhythm {
    margin-bottom: $vertical-rhythm;    
}

/**
*
* Padding settings
*
**/

%standard-padding {
    padding: $padding-small-screens;
    @include media(">=desktop") {
        padding: $padding-large-screens;
    }
}

/**
*
* Standard section padding
*
**/

section {
	padding: $padding-small-screens*3 $padding-small-screens;
}

/**
*
* Font sizes
*
**/

h1 {
	@include font-size(45);
	@include line-height(52);
	@extend %vertical-rhythm;
	font-family: $font-title;
	font-weight: $font-weight-ultra-bold;
	@include media(">=tablet") {
		@include font-size(85);
		@include line-height(92);
	}
}

h2 {
	@include font-size(22);
	@include line-height(29);
	@extend %vertical-rhythm;
	@include media(">=tablet") {
		@include font-size(26);
		@include line-height(31);
	}
}

h3 {
	@include font-size(21);
	@include line-height(25);
	@extend %vertical-rhythm;
	@include media(">=tablet") {
		@include font-size(24);
		@include line-height(28);
	}
}

h4 {
	@include font-size(19);
	@include line-height(23);
	@extend %vertical-rhythm;
	@include media(">=tablet") {
		@include font-size(21);
		@include line-height(25);
	}
}

p {
	@include font-size(18);
	@include line-height(25);
	@extend %vertical-rhythm;
}