.about {
	background: $colour-white;
	
	&.is-in-view {
		// .about__image:nth-child(odd) {
		// 	@extend %slideIntoView;
		// }
	}
}

.about__container {
	@extend %constrain;
}

.about__header {
	margin-bottom: $vertical-rhythm*2;
}

.about__intro {
	display: inline-block;
	vertical-align: middle;
	width: 65%;
}

.about__pic-holder {
	display: inline-block;
	vertical-align: middle;
	width: 35%;
	margin-left: -4px;
	text-align: center;
}

.about__pic {
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: $bg-three;
	/* For alt text positioning */
	line-height: 200px;
	color: $colour-white;
}