.contact {
	background: $bg-four;
	color: $colour-white;
	/* Lessen padding in this section, to allow for height of inner container, 
	which was given a min-height to account for sliding in roundel bio pic */
	padding-top: $vertical-rhythm*2;
	padding-bottom: $vertical-rhythm*2;

	&.is-in-view {
		.contact__image {
			animation: slideup 1s ease 0.5s;
			animation-fill-mode: forwards;
		}
	}
}

.contact__container {
	@extend %constrain;
	position: relative;
	overflow: hidden;
	/* Allow room for animation of bio pic that slides in */
	min-height: 165px;
}

.contact__details {
	@extend %vertical-rhythm;
}

.contact__text {
	position: relative;
}

.contact__icon {
	position: absolute;
	width: 45px;
	height: 55px;
	top: -12px;
}

.contact__email,
.contact__linkedin {
	color: $colour-white;
	padding-left: 55px;
}

.contact__image {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;

	/* for alt text */
	line-height: 150px; 
	text-align: center;
	color: $colour-white;

	background: royalblue;

	@include media(">=tablet") {
		position: absolute;
		top: 100%;
		right: 25px;
		// animation: slideup 2s ease 1;
	}

}

@keyframes slideup {
	70% {
		transform: translate(0, -110%);
	}

	100% {
		transform: translate(0, -105%);
	}
}