.contact {
	position: relative;
	overflow: hidden;
	background: $bg-four;
	color: $colour-white;

	&.is-in-view {
		.contact__image {
			animation: slideup 1s ease 0.5s;
			animation-fill-mode: forwards;
		}
	}
}

.contact__container {
	@extend %constrain;
}

.contact__details {
	@extend %vertical-rhythm;
}

.contact__email,
.contact__linkedin {
	color: $colour-white;
}

.contact__image {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;

	/* for alt text */
	line-height: 150px; 
	text-align: center;
	color: $colour-white;

	background: royalblue;

	@include media(">=tablet") {
		position: absolute;
		top: 100%;
		right: 25px;
		// animation: slideup 2s ease 1;
	}

}

@keyframes slideup {
	70% {
		transform: translate(0, -130%);
	}

	100% {
		transform: translate(0, -120%);
	}
}