.contact {
	background: $bg-four;
	color: $colour-white;
	/* Lessen padding in this section, to allow for height of inner container, 
	which was given a min-height to account for sliding in roundel bio pic */
	// padding-top: $vertical-rhythm*2;
	padding-top: 0;
	padding-bottom: 0;

	&.is-in-view {
		.contact__pic-holder {
			animation: slideup 1s ease 0.5s;
			animation-fill-mode: forwards;
		}
	}
}

.contact__container {
	@extend %constrain;
	position: relative;
	overflow: hidden;
	/* Allow room for animation of bio pic that slides in */
	min-height: 165px;
}

.contact__details {
	margin-bottom: $vertical-rhythm*3
}

.contact__text {
	position: relative;
}

.contact__heading {
	margin-top: $vertical-rhythm*3;
}

.contact__icon {
	position: absolute;
	width: 45px;
	height: 55px;
	top: -12px;
}

.contact__email,
.contact__linkedin {
	color: $colour-white;
	padding-left: 55px;
}


.contact__pic-holder {
	display: inline-block;
	width: 150px;
	height: 150px;
	line-height: 150px;
	border-radius: 50%;
	margin: 0 auto;
	background-color: $bg-two;
	text-align: center;
	color: $colour-grey;


	@include media(">=tablet") {
		position: absolute;
		top: 100%;
		right: 25px;
	}

}

@keyframes slideup {
	70% {
		transform: translate(0, -135%);
	}

	100% {
		transform: translate(0, -125%);
	}
}