.examples {
	background: $bg-two;
}

.examples__container {
	@extend %constrain;
}

.example {
	@extend %vertical-rhythm;
	background-color: $colour-white;
	@extend .grid;

	/* Switch order of content in first row */
	&:first-of-type {
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-start;
	}
}

.example__image {
	width: 100%;
	@extend %vertical-rhythm;

	@include media(">=tablet") {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin-bottom: 0;
	}
}

.example__description {

	@include media(">=tablet") {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding: 15px;
	}
}